@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yaldevi:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap");

body {
  position: relative;
  margin: 0;
  padding: 0;
  top: 0;
  bottom: 0;
}

.nav-link {
  margin: 0.5rem 1rem 0.5rem 0 !important;
  padding: 0 !important;
  font-size: 18px;
  font-family: "Lato", Arial, sans-serif;
}

.current {
  text-decoration: underline;
  text-underline-offset: 0.5rem;
  text-decoration-color: #4f46e5;
}

.fa-user-circle {
  margin-top: 1px;
  font-size: 25px;
}

.title {
  font-family: "Inter", "Lato", "Yaldevi", "Roboto Condensed", Arial, Helvetica;
  font-weight: 600;
  font-size: 25px;
}

.title-text {
  font-family: "Lato", "Yaldevi", "Roboto Condensed", Arial, Helvetica;
  font-size: 18px;
  color: #626262;
}

table * {
  white-space: nowrap;
}

.card-title {
  font-family: "Lato", "Yaldevi", "Roboto Condensed", Arial, Helvetica;
  font-size: 19px;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.card-input {
  display: inline-block;
  width: 31.5%;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 18px;
  margin: 0.2rem 0 0.2rem 0;
}

.card-budget {
  display: inline-block;
  width: 35%;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 18px;
  margin: 0.2rem 0 0.2rem 4rem;
}

.card-value {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 18px;
  margin: 0.2rem 0 0.2rem 0;
}

.balance {
  display: inline-block;
  width: 20%;
  text-align: right;
}

.month {
  font-family: "Lato", "Roboto Condensed", Arial, Helvetica;
  font-weight: 600;
  font-size: 25px;
  margin: 2rem 0 2rem 0;
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}
