@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yaldevi:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap");

body {
  position: relative;
  margin: 0;
  padding: 0;
  top: 0;
  bottom: 0;
}

.nav-link {
  margin: 0.5rem 1rem 0.5rem 0 !important;
  padding: 0 !important;
  font-size: 18px;
  font-family: "Lato", Arial, sans-serif;
}

.current {
  text-decoration: underline;
  text-underline-offset: 0.5rem;
  text-decoration-color: #4f46e5;
}

.fa-user-circle {
  margin-top: 1px;
  font-size: 25px;
}
